<div class="container mx-auto px-4">
  <div class="flex justify-center">
    <div class="w-full max-w-md mb-6">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded-lg p-6 border border-gray-200 dark:border-gray-700 dark:bg-gray-800 mt-6", data: { turbo: false } }) do |f| %>
        <h2 class="text-2xl font-bold text-center mb-6">
          <i class="fas fa-sign-in-alt mr-2"></i> Log In
        </h2>
        <% if flash[:alert] %>
          <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded"><%= flash[:alert] %></div>
        <% end %>
        <div class="mb-4">
          <div class="relative">
            <%= f.text_field :email, class: "w-full pl-10 pr-4 py-2 rounded border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400", placeholder: "Email" %>
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
            </span>
          </div>
        </div>
        <div class="mb-4" data-controller="toggle-password">
          <div class="relative">
            <%= f.password_field :password, 
            autocomplete: "current-password", 
            class: "w-full pl-10 pr-4 py-2 rounded border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400", 
            placeholder: "Password", 
            data: { "toggle-password-target" => "password" } %>
            <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
              </svg>
            </span>
            <span id="btn_toggle" class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer text-gray-500"
            data-action="click->toggle-password#toggle">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" data-toggle-password-target="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </span>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="mb-4">
            <label class="flex items-center text-gray-700 dark:text-gray-300">
              <%= f.check_box :remember_me, class: "mr-2" %> Remember me
            </label>
          </div>
        <% end %>
        <div class="mt-2 mb-4 space-y-2">
          <%= link_to "Forgot your password?", new_user_password_path, class: "text-blue-500 hover:text-blue-600 block" %>
        </div>
        <div class="mb-6">
          <div>
            <%= f.submit "Log In", class: "clickable w-full bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded transition duration-200" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>